.bControlPanel__eNavigation {
    float: left;    
}

.bControlPanel__eWrapper {
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    max-height: 38px;

}

.bControlPanel {
    overflow: hidden;
    margin: 0;
    padding: 3px 6px;
    width: auto;
    position: relative;
}

.bControlPanel__eNavigation {
    display: block;
    width: 120px;
    margin: 0 auto;
}

.bControlPanel__ePageNumberSwitcher {
    float: right;
}

.bControlPanel__eGoToSlideLabel {
    float: right;
}

.bControlPanel__eGoToSlideInput {
    outline: none;
    border: 1px solid black;
    width: 18px;
    text-align: left;
}

.bControlPanel__eGoToSlideFrom {

}

.bControlPanel__eControlButton {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.bControlPanel__eToFirstSlide {
    background: url(../images/icons/first.png);
}
.bControlPanel__eToPreviousSlide {
    background: url(../images/icons/prev.png);
}
.bControlPanel__eToNextSlide {
    background: url(../images/icons/next.png);
}
.bControlPanel__eToLastSlide {
    background: url(../images/icons/last.png);
}